ul {
  list-style-type: none;
}

#muda img, img{
	width: 400px;
	margin: 10px;
	border-radius: 20%;
}

img:last-of-type{
	border-radius: 50%;	
}

h3::first-letter{
	color: blue;
}

.col-md-3 img{
	border-radius: 0%;
	width: 200px;
}
.col-md-6 + .col-md-3{
	text-align: left;
}

.col-md-3 blockquote{
	width: 280px;
}
.col-md-6 h2{
	color: purple;

}

.col-md-6 h3{
	color: green;

}
header img{
	width: 200px;
}

iframe{
	width: 200px; 
	height: 200px;
}

footer{
	border: 1px solid gray;
	padding: 20px;
	height: 80px;
	text-align: left;
	color: white;
	font-size: 30px;
	/**/
	font-family: Arial;
	background: white; 
    background: -webkit-linear-gradient(darkblue, yellow); 
    background: -o-linear-gradient(dark-blue, yellow); 
    background: -moz-linear-gradient(dark-blue, yellow); 
    background: linear-gradient(dark-blue, yellow); 
    /**/
}

.center{
	text-align: center;
	margin: 0 auto;
}

h1 span{
	color: yellow;
}

main{
	border: 2px solid blue;
	background-color: white;
	color: blue;
	font-family: Arial;
	background: white; 
}

main .col-md-3{
	border: 2px dotted grey;

}

main .col-md-6{
	background: #ddd;
}

header{
	background-color: green;
	color: blue;
	font-family: Arial;
	background: white; 
    background: -webkit-linear-gradient(#000015, #000030); 
    background: -o-linear-gradient(#000015, #000030); 
    background: -moz-linear-gradient(#000015, #000030); 
    background: linear-gradient(#000015, #000030); 	
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('myfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body{
	margin: 10px;
}

.imagem:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.links {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    padding: -10px;
}

.links ul{
	margin: 0 auto;
}