ul {
  list-style-type: none;
}

.container-md-12{
	font-family: Arial;
	background: white; 
    background: -webkit-linear-gradient(darkblue, yellow); 
    background: -o-linear-gradient(dark-blue, yellow); 
    background: -moz-linear-gradient(dark-blue, yellow); 
    background: linear-gradient(dark-blue, yellow); 
}

#muda img, img{
	width: 400px;
	margin: 10px;
	border-radius: 20%;
}

img:last-of-type{
	border-radius: 50%;	
}

h3::first-letter{
	color: blue;
}

.col-md-3 img{
	border-radius: 0%;
	width: 200px;
}

header img{
	width: 200px;
}

iframe{
	width: 200px; 
	height: 200px;
}

footer{
	border: 1px solid gray;
	padding: 20px;
	height: 150px;
	text-align: left;
	color: white;
	/**/
	font-family: Arial;
	background: white; 
    background: -webkit-linear-gradient(darkblue, yellow); 
    background: -o-linear-gradient(dark-blue, yellow); 
    background: -moz-linear-gradient(dark-blue, yellow); 
    background: linear-gradient(dark-blue, yellow); 
    /**/
}

.center{
	text-align: center;
	margin: 0 auto;
}

h1 span{
	color: yellow;
}

header{
	background-color: green;
	color: blue;
	font-family: Arial;
	background: white; 
    background: -webkit-linear-gradient(darkblue, yellow); 
    background: -o-linear-gradient(dark-blue, yellow); 
    background: -moz-linear-gradient(dark-blue, yellow); 
    background: linear-gradient(dark-blue, yellow); 
}

.col-md-6 + .col-md-3{
	text-align: left;
}

.col-md-6 h2{
	color: purple;
}

.col-md-6 h3{
	color: green;
}

.imagem:hover {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.links {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 300px;
    box-sizing: border-box;
    text-align: center;
    padding: -10px;
}

.links ul{
	margin: 0 auto;
}

/*
#container{
	margin: 0 auto;
}

body{	

}	



h1{
	color: white;
}

h2{
	padding: 25px;
	text-decoration: underline;
}

footer{
	background-color: yellow;
	border: 5px dotted blue;
	margin: 0 auto;
}

main{
	width: 640px;
}

aside{
	width: 150px;
}

main, header, footer, h1, h4, h2, h3{
	text-align: center;
}



h3{
	border: 1px solid green;
	color: dark-blue;
	margin: 10px;
}

ul{
	font-weight: bold;
}

ul.circle {list-style-type: circle;}


iframe{
	margin-top: 100px;
}

.irineu{
	width: 1000px;
}
*/