#container{
	width: 800px;
	margin: 0 auto;
}

body{
	font-family: Arial;
}	

header{
	margin: 0 auto;
	background-color: green;
	border: 10px solid gray;
}

h1{
	color: white;
}

main h2{
	color: white;
}

h2{
	padding: 25px;
	text-decoration: underline;
}

footer{
	background-color: yellow;
	border: 5px dotted blue;
	margin: 0 auto;
	clear: both;
}

main{
	width: 640px;
	float: left;
}

aside{
	width: 150px;
	float: left;
}

main, header, footer, h1, h4, h2, h3{
	text-align: center;
}

img{
	width: 300px;
	margin: 10px;
}

#muda img{
	width: 400px;
}

h3{
	border: 1px solid green;
	color: red;
	margin: 10px;
}

ul{
	font-weight: bold;
}

ul.circle {list-style-type: circle;}


iframe{
	margin-top: 100px;
}

footer{
	background-color: blue;
}